/* General Styling */
body {
    background-color: #def8dc;
    font-family: Arial, sans-serif;
}

/* Main container */
.container {
    max-width: 900px;
    margin-top: 80px;
    background-color: #52a252;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
}

/* Custom Container */
.custom-container {
    padding: 20px;
}

/* Left Section */
.left-section {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
}

#company-name {
    font-size: 2rem;
    font-weight: bold;
    color: #28a745;
    padding-bottom: 10px;
}

#description {
    font-size: 1rem;
    color: #6c757d;
    margin-top: 15px;
}

/* Right Section */
.right-section {
    background-color: #f7fdf9;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 400px;
}

.card h2 {
    font-size: 1.8rem;
    color: #28a745;
}

.card p {
    font-size: 1rem;
    color: #6c757d;
}

.form-label {
    font-size: 15px;
}

.form-control {
    border-radius: 5px;
}

button.btn-custom {
    background-color: #c0facc;
    color: black;
    border-radius: 7px;
}

button.btn-custom:hover {
    background-color: #087a17;
    color: #fff;
}

/* Image Styling */
img {
    border-radius: 10px;
    margin-top: 15px;
}

/* Media Query for Small Screens */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 20px;
    }

    .right-section {
        border-top: 1px solid #ddd;
    }
}
