body {
    background-color: #def8dc;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 900px;
    max-height:800px;
    margin-top: 80px;
    background-color: #52a252;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.custom-container {
    max-width: 900px; /* Adjust the maximum width as desired */
    padding: 20px;    /* Optional: adjust padding */
}

.left-section, .right-section {
    padding: 30px;
}
.left-section {
    background-color: #ffffff;
    text-align: center;
}
.right-section {
    background-color: #f7fdf9;
}
.btn-custom {
    background-color: #c0facc;
    color: black;
}
.btn-custom:hover {
    background-color: #087a17;
    color: #fff;
}
.btn-move{
    background-color: #c0facc;
    color: black;
    border: 2px;
    border-radius: 7px;


}
.btn-move:hover{
    background-color: #087a17;
    color: #fff;
}
#welcome-title{
    text-align: center;

}
#company-name{
    text-align: center;
    /*font-style: revert;*/
    padding-bottom: 10px;
}
.form-label{
    font-size: 15px;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .right-section {
        border-top: 1px solid #ddd;
    }
}